<main>
    <div class="container mt-auto">

        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-4">
                <h2>{{ vehiculo.matricula.toUpperCase() }} &nbsp; {{ vehiculo.marca.toUpperCase() }} &nbsp; {{ vehiculo.modelo.toUpperCase() }}</h2>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary btn-md" (click)="consultar()">
                    Consultar
                </button>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <button type="button" class="btn btn-warning btn-md" (click)="editar()">
                    Editar
                </button>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <button type="button" class="btn btn-danger btn-md" data-bs-toggle="modal" data-bs-target="#EliminarVehiculo" >
                    Eliminar
                </button>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <button type="button" class="btn btn-success btn-md" [routerLink]="['mantenimientoForm', vehiculo.id]">
                    Nuevo mantenimiento
                </button>
            </div>
        </div>

        <app-avisokm [avisokm]="avisokm"></app-avisokm>
        <app-avisomes [avisomes]="avisomes"></app-avisomes>
    </div>
</main>


<!--Modal eliminar vehiculo-->
<div class="modal fade" id="EliminarVehiculo" tabindex="-1" aria-labelledby="EliminarVehiculo" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="EliminarVehiculo">Eliminar Vehiculo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          El vehiculo {{vehiculo.matricula}} ha sido eliminado
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="eliminar()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
